/* stylelint-disable-next-line import-notation */
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* Accent */
  --color-accent-primary: #2563eb;
  --color-accent-secondary: #3b82f6;

  /* Backgrounds */
  --color-surface-light-primary: #fff;

  /* statistics section */
  --color-surface-light-secondary: #f8fafc;
  --color-surface-dark-primary: #020617;
  --color-surface-dark-secondary: #0f172a;
  --color-surface-footer: #1e293b;

  /* top-categories and progress bar bg */
  --color-surface-highlight: #e0f2fe;

  /* overlays */
  --color-overlay: rgb(0 0 0 / 75%);

  /* font colors */

  /* white-color text */
  --color-content-light: #fff;

  /* nav links */
  --color-content-dark: #334155;

  /* headings */
  --color-content-primary: #0f172a;

  /* course info */
  --color-content-secondary: #334155;

  /* footer menu headings */
  --color-content-tertiary: #f1f5f9;

  /* footer links */
  --color-footer-quaternary: #cbd5e1;

  /* input's placeholder */
  --color-placeholder: #94a3b8;

  /* buttons */
  --color-button-primary: #fff;
  --color-button-secondary: #334155;
  --color-button-tertiary: #020617;
  --color-button-quaternary: #eff6ff;
  --color-button-disabled: #94a3b8;

  /* border */
  --color-border-light: #e2e8f0;

  /* inputs border */
  --color-border-dark: #0f172a;

  /* searchbar border */

  /* icons */
  --color-icon-light: #fff;

  /* icons in dark bg */
  --color-icon-dark: #cbd5e1;

  /* camera icon in order-complete page */

  --color-icon-primary: #334155;

  /* header icons */
  --color-icon-accent: #3b82f6;
  --color-icon-filled-star: #fec84b;
  --color-icon-empty-star: #cbd5e1;

  /* font sizes */

  /* [12px] */
  --text-body-micro: 0.75rem;

  /* [14px] */
  --text-body-small: 0.875rem;

  /* [16px] */
  --text-body-base: 1rem;

  /* [18px] */
  --text-body-medium: 1.125rem;

  /* [20px] */
  --text-body-large: 1.25rem;

  /* [22px] */
  --text-body-semilarge: 1.375rem;

  /* [24px] */
  --text-body-big: 1.5rem;

  /* Spacings */
  --spacing-dropdown: 0.75rem;

  /* Border radius */
  --radius-small: 0.5rem;
  --radius-medium: 1rem;
  --radius-circle: 100%;

  /* box shadow */

  /* course card */
  --shadow-primary: 0px 0px 8px 0px rgb(59 130 246 / 35%);

  /* course card on hover */
  --shadow-secondary: 0px 11px 8px 0px rgb(59 130 246 / 25%);

  /* dropdowns */
  --shadow-panel: 0 10px 25px -10px rgb(115 115 115 / 50%);

  /* duration */
  --transition-duration-short: 200ms;
  --transition-duration-medium: 350ms;
  --transition-duration-large: 500ms;

  /* animations */
  --animate-horizontal-move: horizontal-move 1s ease-in-out infinite;

  /* keyframes */
  @keyframes horizontal-move {
    0%,
    100% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(6px);
    }
  }
}

:root {
  /* --radius: 0.625rem;
  --background: oklch(100% 0 0deg);
  --foreground: oklch(14.5% 0 0deg);
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(14.5% 0 0deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(14.5% 0 0deg);
  --primary: oklch(20.5% 0 0deg);
  --primary-foreground: oklch(98.5% 0 0deg);
  --secondary: oklch(97% 0 0deg);
  --secondary-foreground: oklch(20.5% 0 0deg);
  --muted: oklch(97% 0 0deg);
  --muted-foreground: oklch(55.6% 0 0deg);
  --accent: oklch(97% 0 0deg);
  --accent-foreground: oklch(20.5% 0 0deg);
  --destructive: oklch(57.7% 0.245 27.325deg);
  --border: oklch(92.2% 0 0deg);
  --input: oklch(92.2% 0 0deg);
  --ring: oklch(70.8% 0 0deg);
  --chart-1: oklch(64.6% 0.222 41.116deg);
  --chart-2: oklch(60% 0.118 184.704deg);
  --chart-3: oklch(39.8% 0.07 227.392deg);
  --chart-4: oklch(82.8% 0.189 84.429deg);
  --chart-5: oklch(76.9% 0.188 70.08deg);
  --sidebar: oklch(98.5% 0 0deg);
  --sidebar-foreground: oklch(14.5% 0 0deg);
  --sidebar-primary: oklch(20.5% 0 0deg);
  --sidebar-primary-foreground: oklch(98.5% 0 0deg);
  --sidebar-accent: oklch(97% 0 0deg);
  --sidebar-accent-foreground: oklch(20.5% 0 0deg);
  --sidebar-border: oklch(92.2% 0 0deg);
  --sidebar-ring: oklch(70.8% 0 0deg); 
 */
}

/* .dark {
  --background: oklch(14.5% 0 0deg);
  --foreground: oklch(98.5% 0 0deg);
  --card: oklch(20.5% 0 0deg);
  --card-foreground: oklch(98.5% 0 0deg);
  --popover: oklch(20.5% 0 0deg);
  --popover-foreground: oklch(98.5% 0 0deg);
  --primary: oklch(92.2% 0 0deg);
  --primary-foreground: oklch(20.5% 0 0deg);
  --secondary: oklch(26.9% 0 0deg);
  --secondary-foreground: oklch(98.5% 0 0deg);
  --muted: oklch(26.9% 0 0deg);
  --muted-foreground: oklch(70.8% 0 0deg);
  --accent: oklch(26.9% 0 0deg);
  --accent-foreground: oklch(98.5% 0 0deg);
  --destructive: oklch(70.4% 0.191 22.216deg);
  --border: oklch(100% 0 0deg / 10%);
  --input: oklch(100% 0 0deg / 15%);
  --ring: oklch(55.6% 0 0deg);
  --chart-1: oklch(48.8% 0.243 264.376deg);
  --chart-2: oklch(69.6% 0.17 162.48deg);
  --chart-3: oklch(76.9% 0.188 70.08deg);
  --chart-4: oklch(62.7% 0.265 303.9deg);
  --chart-5: oklch(64.5% 0.246 16.439deg);
  --sidebar: oklch(20.5% 0 0deg);
  --sidebar-foreground: oklch(98.5% 0 0deg);
  --sidebar-primary: oklch(48.8% 0.243 264.376deg);
  --sidebar-primary-foreground: oklch(98.5% 0 0deg);
  --sidebar-accent: oklch(26.9% 0 0deg);
  --sidebar-accent-foreground: oklch(98.5% 0 0deg);
  --sidebar-border: oklch(100% 0 0deg / 10%);
  --sidebar-ring: oklch(55.6% 0 0deg); 
} */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* stylelint-disable at-rule-no-deprecated */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Section vertical padding */
.responsive-primary-padding-y {
  @apply py-8 md:py-10 lg:py-14;
}

.responsive-secondary-padding-y {
  @apply py-10 md:py-16 lg:py-20;
}

/* Section horizontal padding */
.responsive-primary-padding-x {
  @apply px-2 md:px-12 lg:px-20;
}

.responsive-secondary-padding-x {
  @apply px-10 md:px-20 lg:px-40;
}

/* stylelint-enable at-rule-no-deprecated */
